body{
	margin: 0;
	background-image:linear-gradient(270deg, #e8e2e2,#707070);	
}
.main-logo{
	position:relative;
	left:-90px;
    padding-bottom: 55px;
    margin-right: 100%;
}
.side-bar{
	list-style-type:none;
	margin:0;
	background-image:linear-gradient(270deg, #858585,#020202);
    width:16%;
	position:fixed;
	height:100%;
    padding-top: 16px;
}
.side-bar a{
	text-decoration: none;
    font-size: 20px;
    color: black;
    display: flex;
    padding: 13px;
    border-bottom: 2px solid white;
    border-radius: 0px 0px 0px 20px;
    transition-duration: 0.3s;    
}
.side-bar a:hover {
    color: white;
    transform: scale(1.2);
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 20px 20px 20px 20px ;
}
.side-bar a.active{
    color: white;
    border-radius: 20px 20px 20px 20px; 
}
.body-icon{
    padding-left: 290px;
}
.icon{
    width: 30px;
    height: 30px;
}
#text span{
    padding-left: 50px;
    margin-top: 0;
  }
 #main-content{
    padding-left: 280px;
  }
#main-content span{
    padding-left: 10px;
    padding-bottom: 40px;
}

#content
			{
				margin-left:20%;
				padding-left:15px;
			}
			input
			{	
				border:2px solid gray;
				font-size:15px;
				padding:10px;
				margin-left:25px;
				margin-bottom:-15px;
				display:block;
				border-radius: 10px;
			}
			label
			{	
				margin-left:25px;
				margin-bottom:-20px;
				display:block;
			}
			#title
			{
				margin-top:0;
				margin-bottom:0px;
			}
			button
			{	margin-top: 20px;
				margin-left:10px;
				width:100px;
				padding:5px;
				background-color:white;
				border:2px solid gray;
				border-radius:40px;
				font-size:20px;
				display:inline-block;
			}
			button:hover
			{
				background-color:black;
				display:inline-block;
				color: white;
			}
			#table-header
			{
				background-color: black;
				margin:0;
				padding:0;
				color:white;
			}
			#table-size
			{
				
				overflow:auto; height:580px; width:660px;
				background-color:white;
				position:relative;
				left:400px;
				top:0px;
			}
			table
			{
				width:100%;
			}
			#icon
			{	
				margin-top:0px;
				margin-bottom:0px
			}
			select
			{
				border:2px solid #005b96;
				font-size:15px;
				padding:10px;
				margin-left:25px;
				margin-bottom:25px;
				display:block;
			}
			tr:hover
			{
				background-color:#f3f6f4;
			}
			#Employee-specialization
			{
				margin-bottom:20px;
				border-color: black;
			}
			#Employee-specialization:hover
			{
				margin-bottom:20px;
				border-color: gray;
			}
			#Company-id
			{
				position:absolute;
				top:90px;	
			}
			#Company-name
			{
				position:absolute;
				top:150px;
			}
			#Phone
			{
				position:absolute;
				top:210px;
			}
			#Address
			{
				position:absolute;
				top:270px;
			}
			#ci-label
			{
				position:absolute;
				top:50px;
			}
			#cn-label
			{
				position:absolute;
				top:110px;
			}
			#p-label
			{
				position:absolute;
				top:170px;
			}
			#a-label
			{
				position:absolute;
				top:230px;
			}
			#add
			{
				position:absolute;
				top:300px;
				left:300px;
			}
			#update
			{
				position:absolute;
				top:300px;
				left:410px;
			}
			#delete
			{
				position:absolute;
				top:300px;
				left:520px;
			}
			#search
			{
				position:absolute;
				top:10px;
				left:1105px;
			}
			#search-label
			{
				position:absolute;
				top:0px;
				left:1040px;
			}